{% extends "base.html" %}
{% block title %}S3 Object List{% endblock %}

{% block content %}

<table class="table">
	<thead>
	  <tr>
		<th scope="col">URL</th>
		<th scope="col" style="text-align: center;">Ledger</th>
		<th scope="col" style="text-align: center;">Log</th>
	  </tr>
	</thead>
	<tbody>
		{% for file in file_check %}
	  <tr>
		<td>{{file.url}}</td>
		<td align="center">{% if file.ledger_exists %}<span class="text-success"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>{% else %}<span class="text-danger"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>{% endif %}</td>
		<td align="center">{% if file.log_exists %}<span class="text-success"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>{% else %}<span class="text-danger"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>{% endif %}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>

  <!--
	<div class="container">
		<div class="row">
			<div class="col-12-xs">
				{% for f in files %}
				{{f.key}}<br/>
				{{f.last_modified}}<br/><br/>
				{% endfor %}
			</div>
		</div>
	</div>
-->
{% endblock %}

