{% extends "base.html" %}
{% block title %}Games{% endblock %}

{% block content %}
<h1 align="center">Games</h1>
<ul class="list-group list-group-flush" id="notes">
	{% for game in games %}
	<li class="list-group-item">
		<div class=" clearfix">
		<a href="{{url_for('views.payout', game_id=game.id)}}" >{{ game.date.strftime("%m/%d/%Y") }}</a>
		{% if not game.settled %}
		<a href="{{url_for('views.link_players', game_id=game.id)}}" class="btn btn-primary pull-right" onClick="">Settle Game</a>
		{% else %}
		<a href="{{url_for('views.delete_game', game_id=game.id)}}" class="btn pull-right" onClick=""><i class="fa fa-trash fa-2x" aria-hidden="true"></i>
		</a>
		{% endif %}
		<ul>
			{% for url in game.urls %}
			<li><i>{{url.url}}</i></li>
			{% endfor %}
		</ul>
		</div>
	</li>
	{% endfor %}
</ul>

{% endblock %}