{% extends "base.html" %}
{% block title %}Player Stats{% endblock %}

{% block extra_header %}
<script src='https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js'></script>
{% endblock %}

{% block content %}
<br/>
<div class="profile-icon" style="float: left;margin-right:15px;"><i class="fa fa-user-circle fa-4x" aria-hidden="true"></i></div>
<div style="font-size: 16pt;">
	<b>{{user.first_name}} {{user.last_name}}</b><br/>
	{{user.email}}
</div>

<hr/>

<div class="row">
	<div class="col-8">
	<h3 style="padding-left: 6px;">Statistics</h3>
	</div>
	<div class="col-4" style="text-align: right; padding-right:20px;">
		<a href="#" id="popover" class="btn btn-primary" data-bs-placement="bottom"><i class="fa fa-filter" aria-hidden="true"></i></a>
		<div id="popover-content" style="display: none;">
			<form class="form" method="post" style="font-size:17px">
				<div class="form-check form-switch mb-3">
				<input type="checkbox" name="filter_nlhe" class="form-control form-check-input" role="switch" {% if nlhe %}checked{% endif %}> <label for="filter_nlhe">NLHE</label>
				</div>
				<div class="form-check form-switch mb-3">
				<input type="checkbox" name="filter_plo" class="form-control form-check-input" role="switch" {% if plo %}checked{% endif %}> <label for="filter_nlhe">PLO</label>
				</div>
				<div class="form-check form-switch mb-3">
				<input type="checkbox" name="filter_plo8" class="form-control form-check-input" role="switch" {% if plo8 %}checked{% endif %}> <label for="filter_nlhe">PLO8</label>
				</div>
				<div class="mb-3">
				<button type="submit" class="btn btn-primary">Filter</button>

				<a href="player_stats" class="btn btn-secondary">Clear</a>
				</div>
			</form>
		</div>
	</div>
</div>

{% if bankrolls %}
<div class="row">
	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title text-muted">Bankroll</h5>
			<h3 class="mt-3 mb-3 {% if bankrolls | sum(attribute="net") > 0 %}text-success{% else %}text-danger {% endif %}" style="text-align:center;">${{ "{:,}".format((bankrolls | sum(attribute="net")) | round(2))}}</h3>
			<div class="text-muted sub-card">
				ROI: {{ "{:,.2f}".format((bankrolls | sum(attribute="net") /  (bankrolls | sum(attribute="buyin")) * 100) | round(2))}}%
			</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title text-muted">Time Played</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{{(pb['duration_played'][3]/3600)|round(2)}} hours</h3>
				<div class="text-muted sub-card">
					HU: {{(pb['duration_played'][0]/3600)|round(1)}} |
					SR: {{(pb['duration_played'][1]/3600)|round(1)}} |
					FT: {{(pb['duration_played'][2]/3600)|round(1)}}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title text-muted">Sessions</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{{bankrolls | length}} games</h3>
				<div class="text-muted sub-card">
					W: {{ wl[0] }} |
					L: {{ wl[1] }}
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title text-muted">Hands played</h5>
			<h3 class="mt-3 mb-3" style="text-align:center;">{{ "{:,}".format(pb['pre_hands_played'][3]) }}</h3>
			<div class="text-muted sub-card">
				HU: {{"{:,}".format(pb['pre_hands_played'][0])}} |
				SR: {{"{:,}".format(pb['pre_hands_played'][1])}} |
				FT: {{"{:,}".format(pb['pre_hands_played'][2])}}
			</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
			<a href="#" class="text-muted float-end"
					data-bs-toggle="tooltip" data-bs-placement="top"
					data-bs-custom-class="custom-tooltip"
					data-bs-title="Voluntarily Put $ in Pot (VPIP) - How often you voluntarily invested money into a hand.">
				<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">VPIP</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['pre_hands_played'][3]-pb['pre_hands_raised'][3]) == 0 %} -- {% else %} {{(pb['pre_hands_participated'][3]/(pb['pre_hands_played'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['pre_hands_played'][0]-pb['pre_hands_raised'][0]) == 0 %} -- {% else %} {{(pb['pre_hands_participated'][0]/(pb['pre_hands_played'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['pre_hands_played'][1]-pb['pre_hands_raised'][1]) == 0 %} -- {% else %} {{(pb['pre_hands_participated'][1]/(pb['pre_hands_played'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['pre_hands_played'][2]-pb['pre_hands_raised'][2]) == 0 %} -- {% else %} {{(pb['pre_hands_participated'][2]/(pb['pre_hands_played'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Preflop Raise (PFR) - How often you have raised before the flop is seen.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">PFR</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if pb['pre_hands_participated'][3] == 0 %} -- {% else %} {{(pb['pre_hands_raised'][3]/pb['pre_hands_participated'][3] * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if pb['pre_hands_participated'][0] == 0 %} -- {% else %} {{(pb['pre_hands_raised'][0]/pb['pre_hands_participated'][0] * 100)|round()|int}}% {% endif %} |
					SR: {% if pb['pre_hands_participated'][1] == 0 %} -- {% else %} {{(pb['pre_hands_raised'][1]/pb['pre_hands_participated'][1] * 100)|round()|int}}% {% endif %} |
					FT: {% if pb['pre_hands_participated'][2] == 0 %} -- {% else %} {{(pb['pre_hands_raised'][2]/pb['pre_hands_participated'][2] * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Postflop Aggression Factor (AF) - This is calculated by counting the number of hands in which you’ve either bet or raised post-flop, then dividing this by the number of hands in which you’ve called post-flop.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">Flop Aggression</h5>
			<h3 class="mt-3 mb-3" style="text-align:center;">{% if pb['post_hands_call'][3] == 0 %} -- {% else %} {{(pb['post_hands_bet_raise'][3]/pb['post_hands_call'][3] )|round(1)}} {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if pb['post_hands_call'][0] == 0 %} -- {% else %} {{(pb['post_hands_bet_raise'][0]/pb['post_hands_call'][0])|round(1)}} {% endif %} |
					SR: {% if pb['post_hands_call'][1] == 0 %} -- {% else %} {{(pb['post_hands_bet_raise'][1]/pb['post_hands_call'][1])|round(1)}} {% endif %} |
					FT: {% if pb['post_hands_call'][2] == 0 %} -- {% else %} {{(pb['post_hands_bet_raise'][2]/pb['post_hands_call'][2])|round(1)}} {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Continuation Bet (CBET) - A continuation bet is when you were the last to raise preflop, and hence the aggressor, and you continued that aggression on the flop by being the first to bet.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">C-bet</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['cbet'][3]+pb['cbet_check_fold'][3]) == 0 %} -- {% else %} {{(pb['cbet'][3]/(pb['cbet'][3]+pb['cbet_check_fold'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['cbet'][0]+pb['cbet_check_fold'][0]) == 0 %} -- {% else %} {{(pb['cbet'][0]/(pb['cbet'][0]+pb['cbet_check_fold'][3]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['cbet'][1]+pb['cbet_check_fold'][1]) == 0 %} -- {% else %} {{(pb['cbet'][1]/(pb['cbet'][1]+pb['cbet_check_fold'][3]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['cbet'][2]+pb['cbet_check_fold'][2]) == 0 %} -- {% else %} {{(pb['cbet'][2]/(pb['cbet'][2]+pb['cbet_check_fold'][3]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Double Barrel (2B) - The number of turns you continued the aggression after continuation betting.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">Double Barrel (2B)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['2barrel'][3]+pb['2barrel_check_fold'][3]) == 0 %} -- {% else %} {{(pb['2barrel'][3]/(pb['2barrel'][3]+pb['2barrel_check_fold'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['2barrel'][0]+pb['2barrel_check_fold'][0]) == 0 %} -- {% else %} {{(pb['2barrel'][0]/(pb['2barrel'][0]+pb['2barrel_check_fold'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['2barrel'][1]+pb['2barrel_check_fold'][1]) == 0 %} -- {% else %} {{(pb['2barrel'][1]/(pb['2barrel'][1]+pb['2barrel_check_fold'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['2barrel'][2]+pb['2barrel_check_fold'][2]) == 0 %} -- {% else %} {{(pb['2barrel'][2]/(pb['2barrel'][2]+pb['2barrel_check_fold'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Triple Barrel (3Ba) - The number of rivers you continued the aggression after double barreling.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">Triple Barrel (3Ba)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['3barrel'][3]+pb['3barrel_check_fold'][3]) == 0 %} -- {% else %} {{(pb['3barrel'][3]/(pb['3barrel'][3]+pb['3barrel_check_fold'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['3barrel'][0]+pb['3barrel_check_fold'][0]) == 0 %} -- {% else %} {{(pb['3barrel'][0]/(pb['3barrel'][0]+pb['3barrel_check_fold'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['3barrel'][1]+pb['3barrel_check_fold'][1]) == 0 %} -- {% else %} {{(pb['3barrel'][1]/(pb['3barrel'][1]+pb['3barrel_check_fold'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['3barrel'][2]+pb['3barrel_check_fold'][2]) == 0 %} -- {% else %} {{(pb['3barrel'][2]/(pb['3barrel'][2]+pb['3barrel_check_fold'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Three-bet Pre-flop (3B) - This is a measure of how often you three-bet pre-flop. In pre-flop betting, to three-bet is to raise after exactly one other player has raised.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">3 Bet Preflop (3B)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['3bet'][3]+pb['no_3bet'][3]) == 0 %} -- {% else %} {{(pb['3bet'][3]/(pb['3bet'][3]+pb['no_3bet'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['3bet'][0]+pb['no_3bet'][0]) == 0 %} -- {% else %} {{(pb['3bet'][0]/(pb['3bet'][0]+pb['no_3bet'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['3bet'][1]+pb['no_3bet'][1]) == 0 %} -- {% else %} {{(pb['3bet'][1]/(pb['3bet'][1]+pb['no_3bet'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['3bet'][2]+pb['no_3bet'][2]) == 0 %} -- {% else %} {{(pb['3bet'][2]/(pb['3bet'][2]+pb['no_3bet'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Four-bet Preflop (4B) - This is a measure of how often you four-bet pre-flop. Four-betting is similar to three- betting, except that you are re-raising after a player has already re-raised.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">4 Bet Preflop (4B)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['4bet'][3]+pb['no_4bet'][3]) == 0 %} -- {% else %} {{(pb['4bet'][3]/(pb['4bet'][3]+pb['no_4bet'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['4bet'][0]+pb['no_4bet'][0]) == 0 %} -- {% else %} {{(pb['4bet'][0]/(pb['4bet'][0]+pb['no_4bet'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['4bet'][1]+pb['no_4bet'][1]) == 0 %} -- {% else %} {{(pb['4bet'][1]/(pb['4bet'][1]+pb['no_4bet'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['4bet'][2]+pb['no_4bet'][2]) == 0 %} -- {% else %} {{(pb['4bet'][2]/(pb['4bet'][2]+pb['no_4bet'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Folded to Continuation Bet (FC) - This indicates how you often you fold when you are facing a continuation bet on the flop.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">Fold to Cbet (FC)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['fold_cbet'][3]+pb['call_raise_cbet'][3]) == 0 %} -- {% else %} {{(pb['fold_cbet'][3]/(pb['fold_cbet'][3]+pb['call_raise_cbet'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['fold_cbet'][0]+pb['call_raise_cbet'][0]) == 0 %} -- {% else %} {{(pb['fold_cbet'][0]/(pb['fold_cbet'][0]+pb['call_raise_cbet'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['fold_cbet'][1]+pb['call_raise_cbet'][1]) == 0 %} -- {% else %} {{(pb['fold_cbet'][1]/(pb['fold_cbet'][1]+pb['call_raise_cbet'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['fold_cbet'][2]+pb['call_raise_cbet'][2]) == 0 %} -- {% else %} {{(pb['fold_cbet'][2]/(pb['fold_cbet'][2]+pb['call_raise_cbet'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Folded to Double Barrel (F2B) - This indicates how you often you fold when you are facing a double barrel on the turn.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">Fold to 2B (F2B)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['fold_2b'][3]+pb['call_raise_2b'][3]) == 0 %} -- {% else %} {{(pb['fold_2b'][3]/(pb['fold_2b'][3]+pb['call_raise_2b'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['fold_2b'][0]+pb['call_raise_2b'][0]) == 0 %} -- {% else %} {{(pb['fold_2b'][0]/(pb['fold_2b'][0]+pb['call_raise_2b'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['fold_2b'][1]+pb['call_raise_2b'][1]) == 0 %} -- {% else %} {{(pb['fold_2b'][1]/(pb['fold_2b'][1]+pb['call_raise_2b'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['fold_2b'][2]+pb['call_raise_2b'][2]) == 0 %} -- {% else %} {{(pb['fold_2b'][2]/(pb['fold_2b'][2]+pb['call_raise_2b'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Folded to Double Barrel (F3Ba) - This indicates how you often you fold when you are facing a triple barrel on the river.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">Fold to 3Ba (F3Ba)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['fold_3b'][3]+pb['call_raise_3b'][3]) == 0 %} -- {% else %} {{(pb['fold_3b'][3]/(pb['fold_3b'][3]+pb['call_raise_3b'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['fold_3b'][0]+pb['call_raise_3b'][0]) == 0 %} -- {% else %} {{(pb['fold_3b'][0]/(pb['fold_3b'][0]+pb['call_raise_3b'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['fold_3b'][1]+pb['call_raise_3b'][1]) == 0 %} -- {% else %} {{(pb['fold_3b'][1]/(pb['fold_3b'][1]+pb['call_raise_3b'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['fold_3b'][2]+pb['call_raise_3b'][2]) == 0 %} -- {% else %} {{(pb['fold_3b'][2]/(pb['fold_3b'][2]+pb['call_raise_3b'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Folded to Three-Bet Preflop (F3B) - This measures how often you folded to another player’s three-bet pre-flop, when you have the opportunity to do so.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">Fold to 3 Bet (F3B)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['fold_3bet'][3]+pb['call_raise_3bet'][3]) == 0 %} -- {% else %} {{(pb['fold_3bet'][3]/(pb['fold_3bet'][3]+pb['call_raise_3bet'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['fold_3bet'][0]+pb['call_raise_3bet'][0]) == 0 %} -- {% else %} {{(pb['fold_3bet'][0]/(pb['fold_3bet'][0]+pb['call_raise_3bet'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['fold_3bet'][1]+pb['call_raise_3bet'][1]) == 0 %} -- {% else %} {{(pb['fold_3bet'][1]/(pb['fold_3bet'][1]+pb['call_raise_3bet'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['fold_3bet'][2]+pb['call_raise_3bet'][2]) == 0 %} -- {% else %} {{(pb['fold_3bet'][2]/(pb['fold_3bet'][2]+pb['call_raise_3bet'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-xl-3 col-lg-3">
		<div class="card">
			<div class="card-body">
				<a href="#" class="text-muted float-end"
						data-bs-toggle="tooltip" data-bs-placement="top"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Went to Showdown (WTSD) - Percent of hands seen where you make it to showdown.">
					<b><i class="fa fa-question-circle" aria-hidden="true"></i></b></a>
			<h5 class="card-title text-muted">Showdown % (WTSD)</h5>
				<h3 class="mt-3 mb-3" style="text-align:center;">{% if (pb['post_hands_played'][3]) == 0 %} -- {% else %} {{(pb['wtsd'][3]/(pb['post_hands_played'][3]) * 100)|round(2)}}% {% endif %}</h3>
				<div class="text-muted sub-card">
					HU: {% if (pb['post_hands_played'][0]) == 0 %} -- {% else %} {{(pb['wtsd'][0]/(pb['post_hands_played'][0]) * 100)|round()|int}}% {% endif %} |
					SR: {% if (pb['post_hands_played'][1]) == 0 %} -- {% else %} {{(pb['wtsd'][1]/(pb['post_hands_played'][1]) * 100)|round()|int}}% {% endif %} |
					FT: {% if (pb['post_hands_played'][2]) == 0 %} -- {% else %} {{(pb['wtsd'][2]/(pb['post_hands_played'][2]) * 100)|round()|int}}% {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.bankRollHeader{
		font-weight: bold;
		text-align: center;
		padding-top: 5px;
	}
	.bankRollRow{
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: lightgray;
		margin-top: 15px;
		text-align: center;
		cursor: pointer;
		font-weight:500;
	}
	.bankRollRowDisabled{
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: rgb(187, 175, 175);
		margin-top: 15px;
		text-align: center;
		cursor: no-drop;
		font-weight:500;
	}
	.bankRollExpandedRow{
		background-color: rgb(235, 231, 231);
		padding: 5px;
	}
</style>
<br/>
<div class="container">
	<canvas id="bankrollChart" height="450" width="600"></canvas>

</div>
<br/>

<div class="container">
	<div class="row">
		<div class="col-2 bankRollHeader">DATE</div>
		<div class="col-2 bankRollHeader">GAME</div>
		<div class="col-2 bankRollHeader">DURATION</div>
		<div class="col-2 bankRollHeader"># HANDS</div>
		<div class="col-1 bankRollHeader">$ IN</div>
		<div class="col-1 bankRollHeader">$ OUT</div>
		<div class="col-1 bankRollHeader">NET</div>
		<div class="col-1 bankRollHeader">BALANCE</div>
	</div>
	{% set ns = namespace(balance=(bankrolls | sum(attribute="net"))) %}
{% for br in bankrolls %}
	
	<div class="row {%if br.behavior %}bankRollRow{% else %}bankRollRowDisabled{% endif %}" id="expandRow{{br.id}}">
		<div class="col-2">{{br.date.strftime('%a, %b %d, %Y')}}</div>
		<div class="col-2">{{br.url.small_blind}}/{{br.url.big_blind}} {{br.url.game_type}}</div>
		<div class="col-2">{% if br.behavior %}{{seconds_to_hours_minutes(br.duration)}}{% else %} N/A {% endif %}</div>
		<div class="col-2">{% if br.behavior %}{{ "{:,}".format(br.behavior.hu_pre_hands_played+br.behavior.sr_pre_hands_played+br.behavior.ft_pre_hands_played) }}{% else %} N/A {% endif %}</div>
		<!--<td align="center">{{br.location}}</td>-->
		<div class="col-1">{{format_dollar(br.buyin)}}</div>
		<div class="col-1">{{format_dollar(br.cashout)}}</div>
		<div class="col-1 {% if (br.net > 0) %}text-success{% elif br.net < 0%}text-danger{% endif %}">{{format_dollar(br.net)}}</div>
		<div class="col-1 {% if (ns.balance > 0) %}text-success{% elif ns.balance < 0%}text-danger{% endif %}">{{format_dollar(ns.balance)}}</div>
		{% set ns.balance=(ns.balance-br.net) %}

		
	</div>
	{% if br.behavior %}
	<div class="collapse" id="collapse{{br.id}}">
		<div class="row bankRollExpandedRow">
			<div class="col-sm-4 col-xl-4 col-lg-4">
				<div class="card" style="height: 92%;">
					<div class="card-body">
						<h5 class="card-title ">Betting:</h5>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">VPIP:</div>
							<div class="col col-6">{% if (merge_behavior(br.behavior, 'pre_hands_played')-merge_behavior(br.behavior, 'pre_hands_raised')) == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'pre_hands_raised')/(merge_behavior(br.behavior, 'pre_hands_played')-merge_behavior(br.behavior, 'pre_hands_raised')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">PFR:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, 'pre_hands_participated') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'pre_hands_raised')/(merge_behavior(br.behavior, 'pre_hands_participated')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">FA:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, 'post_hands_call') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'post_hands_bet_raise')/(merge_behavior(br.behavior, 'post_hands_call')) )|round(1)}} {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">C-bet:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, 'cbet')+merge_behavior(br.behavior, 'cbet_check_fold') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'cbet')/(merge_behavior(br.behavior, 'cbet')+merge_behavior(br.behavior, 'cbet_check_fold')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">Double Barrel:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, '2barrel')+merge_behavior(br.behavior, '2barrel_check_fold') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, '2barrel')/(merge_behavior(br.behavior, '2barrel')+merge_behavior(br.behavior, '2barrel_check_fold')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">Triple Barrel:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, '3barrel')+merge_behavior(br.behavior, '3barrel_check_fold') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, '3barrel')/(merge_behavior(br.behavior, '3barrel')+merge_behavior(br.behavior, '3barrel_check_fold')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">3 Bet Pre:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, '3bet')+merge_behavior(br.behavior, 'no_3bet') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, '3bet')/(merge_behavior(br.behavior, '3bet')+merge_behavior(br.behavior, 'no_3bet')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">4 Bet Pre:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, '4bet')+merge_behavior(br.behavior, 'no_4bet') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, '4bet')/(merge_behavior(br.behavior, '4bet')+merge_behavior(br.behavior, 'no_4bet')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xl-4 col-lg-4">
				<div class="card" style="height: 92%;">
					<div class="card-body">
						<h5 class="card-title">Folding:</h5>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">vs C-bet:</div>
							<div class="col col-6">{% if (merge_behavior(br.behavior, 'fold_cbet')+merge_behavior(br.behavior, 'call_raise_cbet')) == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'fold_cbet')/(merge_behavior(br.behavior, 'fold_cbet')+merge_behavior(br.behavior, 'call_raise_cbet')) * 100)|round(2)}}% {% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">vs Double Barrel:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, 'fold_2b')+merge_behavior(br.behavior, 'call_raise_2b') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'fold_2b')/(merge_behavior(br.behavior, 'fold_2b')+merge_behavior(br.behavior, 'call_raise_2b')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">vs Triple Barrel:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, 'fold_3b')+merge_behavior(br.behavior, 'call_raise_3b') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'fold_3b')/(merge_behavior(br.behavior, 'fold_3b')+merge_behavior(br.behavior, 'call_raise_3b')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">vs 3-bet:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, 'fold_3bet')+merge_behavior(br.behavior, 'call_raise_3bet') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'fold_3bet')/(merge_behavior(br.behavior, 'fold_3bet')+merge_behavior(br.behavior, 'call_raise_3bet')) * 100)|round(2)}}% {% endif %}</div>
						</div>
						
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xl-4 col-lg-4">
				<div class="card" style="height: 92%;">
					<div class="card-body">
						<h5 class="card-title">Other:</h5>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">Hourly:</div>
							<div class="col col-6 {% if (br.net > 0) %}text-success{% elif br.net < 0%}text-danger{% endif %}"><strong>{% if br.duration == 0 %} -- {% else %} {{format_dollar((br.net/(br.duration/3600))|round(2))}} {% endif %}</strong></div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">ROI:</div>
							<div class="col col-6 {% if (br.net > 0) %}text-success{% elif br.net < 0%}text-danger{% endif %}"><strong>{% if br.buyin == 0 %} -- {% else %} {{((br.net)/(br.buyin) * 100)|round(2)}}% {% endif %}</strong></div>
						</div>
						<div class="row">
							<div class="col col-6" style="text-align:right; ">Showdown:</div>
							<div class="col col-6">{% if merge_behavior(br.behavior, 'post_hands_played') == 0 %} -- {% else %} {{(merge_behavior(br.behavior, 'wtsd')/(merge_behavior(br.behavior, 'post_hands_played')) * 100)|round(2)}}% {% endif %}
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
	{% endif %}
{% endfor %}
</div>
{% else %}
<br/><div align="center">There is nothing to display.</div>
{% endif %}


<script type="text/javascript">
	$(document).ready(function () {
		$('.bankRollRow').on('click',function(){
			$(this).next('.collapse').toggle({toggle:true})
		});

		$('#popover').popover({ 
			html : true,
			sanitize: false,
			title: 'Filter',
			content:  $("#popover-content").html(),
			
		});

		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))


		const ctx = document.getElementById('bankrollChart').getContext('2d');
		const myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: [
					//{% for x in bankrollChartX %}
					'{{x}}',
					//{% endfor %}
				],
				
				datasets: [{
					label: 'Bankroll',
					data: [
					//{% for y in bankrollChartY %}
					'{{y}}',
					//{% endfor %}	
					],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
					],
					pointBackgroundColor: '#ff0000',
					borderColor: '#ff0000',
					borderWidth: 2.5
				},
			]
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				plugins: {
					//decimation: true,
					legend:{
						display: false
					},
					tooltip: {
						callbacks: {
							label: function(context) {
								y = context.parsed.y;
								if(y < 0){
									return '-$' + (y*-1).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
								}else{
									return '$' + y.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
								}
							}
						}
					}
				},
				scales: {
					y: {
						beginAtZero: true,
						ticks: {
							// Include a dollar sign in the ticks
							callback: function(value, index, ticks) {
								if(value < 0){
									return '-$' + (value*-1).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
								}else{
									return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
								}
							}
						}
					}
				},
				
			}
		});

	});
  </script>

{% endblock %}

