{% extends "base.html" %}
{% block title %}Players{% endblock %}

{% block content %}
<h1 align="center">Players</h1>

<div id="no-more-tables">
	<table class="table">
		<thead>
		<tr>
			<th scope="col">NAME</th>
			<th scope="col">VENMO</th>
			<th scope="col">ALIAS</th>
			{% if user and user.is_authenticated and user.admin %}
			<th scope="col" align="center">NET</th>
			{% endif %}
		</tr>
		</thead>
		<tbody>
		{% if players %}
		{% for player in players %}
			<tr>
				<td><a href="{{url_for('views.edit_player', player_id=player.id)}}" ><strong>{{ player.name }}</strong></a></td>
				<td>{{ player.venmo }}</td>
				<td>
					{% for alias in player.aliases %}
					<span class="badge rounded-pill bg-secondary">{{ alias.alias }}</span>
					{% endfor %}
				</td>
				{% if user and user.is_authenticated and user.admin %}
				<td align="center">
					{% if player.earnings | sum(attribute='net') != 0 %}
					{{ "{:,.2f}".format(player.earnings | sum(attribute='net')) }}
					{% endif %}
				</td>
				{% endif %}
			</tr>
		{% endfor %}
		{% endif %}
	</tbody>
	</table>
</div>



<br/>
<form method="POST">
	<div class="form-control mb-3">
	<label for="player_name" class="form-label">Player Name</label>
	<input type="text" name="player_name" id="player_name" class="form-control"></input>
	<br/>
	<label for="player_venmo" class="form-label">Venmo</label>
	<input type="text" name="player_venmo" id="player_venmo" class="form-control"></input>
	<br/>
	<label for="player_alias" class="form-label">Alias</label>
	<input type="text" name="player_alias" id="player_alas" class="form-control"></input>
	<br/>
	<div align="center">
		<button type="submit" class="btn btn-primary">Add Player</button>
	</div>
	</div>
</form>

{% endblock %}