body{
	height: 100%;
	background-image: url('card_suits4.png');
}

.body_container{
	border-radius: 20px;
	padding: 10px 35px 35px 35px;
}

.settlement-dark{
	opacity:40%
}
.settlement-dark-active{
	opacity:40%
}
.settlement-payment,.settlement-payment-active{
	background-color: rgb(208, 147, 147);
	font-weight: bold;
}
.settlement-receive,.settlement-receive-active{
	background-color: rgb(147, 200, 147);
	font-weight: bold;
}
.net-active{
	background-color: rgb(147, 200, 147);
	font-weight: bold;
}

.netRow{
	cursor: pointer;
}